<html>
    <div class = "container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <h1>
        Welcome {{ name }}
        </h1>
    
        <a href= "http://www.google.com/"> not google </a>
        <ul>
        {% for names in city_names %}
        <li>{{ names }} </li>
            {% endfor %}
        </ul>
    City Name
    <br>
    <form method="POST" action="/">
        <input
        type = "text"
      	maxlength = "32"/>
        <br>
        <input type = "submit" value = "Submit" />
    </form>

   
</html>
 